/* line 9, ../scss/main.scss */
body {
  background: #f6f8fa;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 14, ../scss/main.scss */
.navbar-default {
  background-color: #233140;
  border: none;
}
/* line 17, ../scss/main.scss */
.navbar-default a {
  color: #f6f8fa !important;
  font-weight: lighter;
}

/* line 23, ../scss/main.scss */
.navbar {
  margin-bottom: 0;
}

/* line 26, ../scss/main.scss */
.save-indicator {
  opacity: 0;
  position: fixed;
  top: 17px;
  right: 20px;
  z-index: 9999;
  font-size: 32px;
  line-height: 10px;
  color: #36EA3D;
}

/* line 38, ../scss/main.scss */
.sidebar-opened .sidebar {
  left: 0 !important;
}
/* line 41, ../scss/main.scss */
.sidebar-opened .main-content {
  padding-left: 240px !important;
}
@media screen and (max-width: 768px) {
  /* line 41, ../scss/main.scss */
  .sidebar-opened .main-content {
    min-width: 600px;
  }
}

/* line 51, ../scss/main.scss */
.sidebar-layout .sidebar {
  background: #2C3E50;
  padding-top: 52px;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  left: -240px;
  z-index: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 0 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 0 3px;
}
/* line 61, ../scss/main.scss */
.sidebar-layout .sidebar .typecontrols {
  color: #f6f8fa;
  padding: 0px 13px;
}
/* line 64, ../scss/main.scss */
.sidebar-layout .sidebar .typecontrols i {
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}
/* line 68, ../scss/main.scss */
.sidebar-layout .sidebar .typecontrols i:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* line 73, ../scss/main.scss */
.sidebar-layout .sidebar .level-types {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 4px;
}
/* line 78, ../scss/main.scss */
.sidebar-layout .sidebar .level-types .input-group {
  margin: 15px;
}
/* line 81, ../scss/main.scss */
.sidebar-layout .sidebar .level-types a {
  color: #c5d2df;
  cursor: pointer;
  padding: 15px;
  display: block;
  border-top: 1px solid #304357;
}
/* line 87, ../scss/main.scss */
.sidebar-layout .sidebar .level-types a:hover {
  text-decoration: none;
  background: #304357;
}

/* line 96, ../scss/main.scss */
.sub-nav {
  padding: 5px 15px;
  border-bottom: 1px solid #eceef0;
}
/* line 99, ../scss/main.scss */
.sub-nav p {
  font-size: 22px;
  margin: 0;
}
/* line 103, ../scss/main.scss */
.sub-nav button {
  margin-left: 5px;
}

/* line 108, ../scss/main.scss */
.main-content {
  padding-left: 0;
  padding-top: 52px;
}

/* line 113, ../scss/main.scss */
.questions-wrapper {
  padding: 5px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 122, ../scss/main.scss */
.left-side {
  border-right: solid 1px #bbdefb;
}

/* line 126, ../scss/main.scss */
.question-item {
  margin: 10px;
  position: relative;
}
/* line 129, ../scss/main.scss */
.question-item .hidden-block {
  display: none;
}
/* line 132, ../scss/main.scss */
.question-item:hover .hidden-block {
  display: block;
}
/* line 135, ../scss/main.scss */
.question-item .preview {
  font-family: "ikaros_sans_regularregular";
  width: 140px;
  height: 230px;
  background: #2e8fcf;
}
/* line 140, ../scss/main.scss */
.question-item .preview .block {
  color: #fff;
  height: 50%;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 144, ../scss/main.scss */
.question-item .preview .block img {
  height: 40px;
}
/* line 153, ../scss/main.scss */
.question-item .preview .block input.text {
  font-size: 28px;
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 161, ../scss/main.scss */
.question-item .preview .block.light {
  background-color: rgba(255, 255, 255, 0.07);
}
/* line 166, ../scss/main.scss */
.question-item .edit-question {
  z-index: 2;
  width: 33px;
  position: absolute;
  left: 140px;
  top: -1px;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba(44, 62, 80, 0.1);
  background: #FFF;
}
/* line 175, ../scss/main.scss */
.question-item .edit-question .block {
  padding: 3px;
  height: 115px;
  position: relative;
}
/* line 180, ../scss/main.scss */
.question-item .edit-question button, .question-item .edit-question input {
  width: 100%;
  font-size: 11px;
}
/* line 185, ../scss/main.scss */
.question-item .edit-question input:hover {
  width: 300%;
}
/* line 189, ../scss/main.scss */
.question-item .edit-question button {
  padding: 3px;
  margin-bottom: 5px;
}
/* line 193, ../scss/main.scss */
.question-item .edit-question .upload {
  position: relative;
  width: 100%;
  height: 23px;
}
/* line 197, ../scss/main.scss */
.question-item .edit-question .upload input.image {
  position: absolute;
  left: 0;
  top: 0;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
/* line 209, ../scss/main.scss */
.question-item header {
  position: absolute;
  width: 140px;
  height: 27px;
  top: -27px;
  left: 0;
  background: #2C3E50;
  border-radius: 5px 5px 0 0;
  color: #FFF;
  padding: 7px;
  font-size: 11px;
}
/* line 220, ../scss/main.scss */
.question-item header i {
  cursor: pointer;
}

/* line 227, ../scss/main.scss */
.full-width {
  padding-top: 52px;
}

/* line 231, ../scss/main.scss */
.levels {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
/* line 237, ../scss/main.scss */
.levels .level-item {
  margin: 5px;
  width: 100%;
  max-width: 350px;
  background: #FFF;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 3px solid #5e7082;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px;
}
/* line 246, ../scss/main.scss */
.levels .level-item .level-name {
  border: none;
  font-size: 22px;
  background: transparent;
  width: 100%;
}
/* line 252, ../scss/main.scss */
.levels .level-item label {
  font-weight: 200;
  margin: 0;
  margin-top: 10px;
}
/* line 257, ../scss/main.scss */
.levels .level-item .plain {
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
  border: 1px solid #E5E8F1;
  border-radius: 3px;
  padding: 5px;
}
/* line 266, ../scss/main.scss */
.levels .level-item .tags {
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
  padding: 0;
  border: none;
  border: 1px solid #E5E8F1 !important;
  border-radius: 3px;
  -webkit-appearance: initial;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 276, ../scss/main.scss */
.levels .level-item .tags .tag-item {
  border: none;
  border-radius: 3px;
  background: #c2d4e6;
  color: #2C3E50;
}
