<div class="sidebar-layout" ng-class="{'sidebar-opened': showSidebar}">
	<div class="sidebar">
	
		<div class="typecontrols">
			<i ng-click="toggleTypeEdiging()" ng-if="!typeEditing" class="glyphicon glyphicon-pencil"></i>
			<i ng-click="saveType()" ng-if="typeEditing" class="glyphicon glyphicon-ok"></i>
			<i ng-click="addNewType()" ng-if="typeEditing" class="glyphicon glyphicon-plus"></i>
		</div>

		<div class="clearfix"></div>

		<ul class="level-types">
			<li ng-repeat="type in bank.types">
				<a ng-click="selectType($index)" ng-if="!typeEditing">{{type.type}}</a>
				<div ng-if="typeEditing">
					<div class="input-group">
						<input
							type="text"
							class="form-control"
							ng-model="type.type">

						<div class="input-group-addon" ng-click="removeType($index)">
							<i class="glyphicon glyphicon-trash"></i>
						</div>
					</div>
				</div>
			</li>
		</ul>

	</div>


	<div class="main-content">
		<div class="sub-nav">
			<p class="pull-left">
				<i class="glyphicon glyphicon-align-justify" ng-click="toggleSidebar()"></i>
				{{currentType.type}}
			</p>
			<button class="btn btn-sm btn-info pull-right" ng-click="addNewQuestion()">
				<i class="glyphicon glyphicon-plus"></i> New Question
			</button>
			<button class="btn btn-sm btn-info pull-right" ng-click="saveQuestions()">
				<i class="glyphicon glyphicon-plane"></i> Save
			</button>
			<div class="clearfix"></div>
		</div>
		<div class="questions-wrapper">
			<div class="question-item" ng-repeat="question in currentType.questions">
				
				<header class="hidden-block">
					<i ng-click="removeQuestion($index)" class="glyphicon glyphicon-trash"></i>
					<!-- <i ng-click="removeQuestion($index)" class="glyphicon glyphicon-pencil pull-right"></i>		 -->
				</header>
				
				<div class="preview">
					<div class="block" ng-repeat="option in question" ng-class="{light: $index == 0}">
						<img ng-if="option.img" ng-src="{{option.img}}">						
						<input class="text" type="text" ng-model="option.text">
					</div>
				</div>

				<div class="edit-question hidden-block">
					<div class="block" ng-repeat="option in question">
						<div class="buttons">
							<button tabindex="-1" class="upload btn btn-default">
								<i class="glyphicon glyphicon-open"></i>
								<input tabindex="-1" type="file"
									onchange="angular.element(this).scope().uploadImage(this.files, angular.element(this).scope().question, angular.element(this).scope().$index)"
									name="upload"
									class="image form-control">
							</button>
							<button ng-if="option.img"
								class="btn btn-default"
								ng-click="removeImage(question, $index)">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
						</div>
						<input class="value" type="text" ng-model="option.value" placeholder="Val">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>